{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="tile is-parent is-vertical">
        <div class="tile is-child">
            <h1 class="title">
                {% trans 'Password change done' %}
            </h1>
        </div>
        <div class="tile is-child">
            <p>
                {% trans 'Your password has been successfully changed!' %}
            </p>
        </div>
        <div class="tile is-child">
            <div class="field is-grouped">
                <div class="control">
                    <a class="button" href="{% url 'manage' %}">
                        {% trans 'Go to workspace' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}